<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
</head>
<body>
    <h1>Fresh Produce</h1>
    <p>Here are our fruits and vegetables for display!</p>
    <h3>Fruits</h3>
    <div class="container fruits">
      <div class="row row-cols-auto">
          <div class="col">Apples
              <select name="price">
                  <option value="5">$5/lb</option>
              </select>
              <span class="quantity-box">Current Availability (10)</span>   
               <input type="submit" value="Purchase">
          </div>
          <div class="col">Bananas
              <select name="price">
                  <option value="5">$5/lb</option>
              </select>
              <span class="quantity-box">10</span>
               <input type="submit" value="Purchase">
          </div>
          <div class="col">Mangos
              <select name="price">
                  <option value="5">$5/lb</option>
              </select>
              <span class="quantity-box">10</span>
               <input type="submit" value="Purchase">
          </div>
          <div class="col">Oranges
              <select name="price">
                  <option value="5">$5/lb</option>
              </select>
              <span class="quantity-box">10</span>
               <input type="submit" value="Purchase">
          </div>
          <div class="col">Pineapples
              <select name="price">
                  <option value="5">$5/lb</option>
              </select>
               <span class="quantity-box">10</span>
              <input type="submit" value="Purchase">
          </div>
      </div>
    </div>
    <h3>Vegetables</h3>
    <div class="container vegetables">
      <div class="row row-cols-auto">
          <div class="col">Artichoke
              <select name="price">
                  <option value="7">$7/lb</option>
              </select>
              <span class="quantity-box">10</span>
               <input type="submit" value="Purchase">
          </div>
          <div class="col">Broccoli
              <select name="price">
                  <option value="7">$7/lb</option>
              </select>
              <span class="quantity-box">10</span>
               <input type="submit" value="Purchase">
          </div>
          <div class="col">Carrots
              <select name="price">
                  <option value="7">$7/lb</option>
              </select>
              <span class="quantity-box">10</span>
               <input type="submit" value="Purchase">
          </div>
          <div class="col">Potatoes
              <select name="price">
                  <option value="7">$7/lb</option>
              </select>
              <span class="quantity-box">10</span>
               <input type="submit" value="Purchase">
          </div>
          <div class="col">Tomatoes
              <select name="price">
                  <option value="7">$7/lb</option>
              </select>
               <span class="quantity-box">10</span>
              <input type="submit" value="Purchase">
          </div>
      </div>
    </div>   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <br>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Fruits</th>
                <th>Vegetables</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% crops.forEach(function(c) { %>
                <tr>
                    <td><%= c.name %> </td>
                    <td><%= c.fruits %></td>
                    <td><%= c.vegetables %></td>
                    <td><%= c.quantity %> </td>
                    <td><%= c.price %> </td>
                    <td><a href="/crops/<%=c._id %>">Details</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>