<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
     <link href="css/heroic-features.css" rel="stylesheet">
   <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
   <title>Marketplace</title>
</head>
<body class="items-index">
    <nav class="navbar navbar-expand-lg navbar-light bg-light custom-nav">
      <div class="container-fluid custom">
        <a class="navbar-brand" href="#"><h1><i class="material-icons store-icon">storefront
        </i>CropMart</h1></a>
        <button class="navbar-toggler toggle-border" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Shop Produce</a>
          <a class="nav-link" href="#">Sell Local</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="material-icons cart-icon">
shopping_cart
          </i></a>
        </div>
      </div>
    </div>
  </nav>
    <header class="data-header">
      <h1>Recently Added Produce</h1>
    </header>
    <div class="data-container">
        <table>
        <thead>
            <tr>
                <th class="list-title col"><h4>Produce Type</h4></th>
                <th class="list-title col"><h4>Produce Name</h4></th>
                <th class="list-title col"><h4>Stock Availability</h4></th>
                <th class="list-title col"><h4>Pricing ($1/ LB) </h4></th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(function(i) { %>
                <tr>
                    <td><%= i.itemType %></td>
                    <td><%= i.name %> </td>
                    <td><%= i.quantity %> </td>
                    <td><%= i.price %> </td>
                    <td><a href="/items/<%=i._id %>">Details</a></td>
                    <td><form action="/items/<%=i._id %>?_method=DELETE" class="delete-form" method="POST"><button type="submit">↪</button></form></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <!-- Jumbotron Header -->
      <!-- <header class="jumbotron my-4">
      <h1 class="display-3">Recently Added Items</h1>
      <p class="lead"></p>
      <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header> -->

    <!-- Page Features -->
    <div class="row text-center">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://i.imgur.com/oP3NOWw.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Apples</h4>
            <p class="card-text"><strong>Seller: </strong>Various farmers<br><strong>Quantity:</strong>10<br><strong>Price:</strong>$5/lb<br><strong>Produce Review: </strong><br>The apples here are always so fresh! Thank you for providing my children with such a yummy afternoon snack.</p>
          </div>
          <div class="card-footer">
            <a href="purchase" class="btn btn-primary">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://i.imgur.com/9ca1uQw.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Bananas</h4>
            <p class="card-text"><strong>Seller: </strong>Various farmers<br><strong>Quantity:</strong>25<br><strong>Price:</strong>$7/lb<br><strong>Produce Review: </strong> Last time we got these, they weren't so ripe, but in a few days, they were ready to enjoy.</p>
          </div>
          <div class="card-footer">
            <a href="/" class="btn btn-primary">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://i.imgur.com/JJ5xqZ1.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Mangos</h4>
            <p class="card-text"><strong>Seller: </strong>Various farmers<br><strong>Quantity:</strong>15<br><strong>Price:</strong>$4/lb<br><strong>Produce Review: </strong> 10/10 would RECOMMEND. These are the sweetest mangos around!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://i.imgur.com/dpznRAS.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Pineapples</h4>
            <p class="card-text"><strong>Seller: </strong>Various farmers<br><strong>Quantity:</strong>12<br><strong>Price:</strong>$10/lb<br><strong>Produce Review: </strong> These pineapples top any organic pineapple I've ever gotten! The only complaint I have is there's not enough available! Please increase your stock!!!! </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Purchase</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row text-center">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://i.imgur.com/ofWEKUt.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Artichoke</h4>
            <p class="card-text"><strong>Seller: </strong>Various farmers<br><strong>Quantity:</strong>17<br><strong>Price:</strong>$6/lb<br><strong>Produce Review: </strong><br>The key ingredient to a fan favorite artichoke dip happens to be the ones I find right here! Wonderful produce selection, always.</p>
          </div>
          <div class="card-footer">
            <a href="purchase" class="btn btn-primary">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://i.imgur.com/PxZ1F74.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Broccoli</h4>
            <p class="card-text"><strong>Seller: </strong>Various farmers<br><strong>Quantity:</strong>25<br><strong>Price:</strong>$7/lb<br><strong>Produce Review: </strong> Last time we got these, they weren't so ripe, but in a few days, they were ready to enjoy.</p>
          </div>
          <div class="card-footer">
            <a href="/" class="btn btn-primary">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://i.imgur.com/FJAxBCS.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Carrots</h4>
            <p class="card-text"><strong>Seller: </strong>Various farmers<br><strong>Quantity:</strong>15<br><strong>Price:</strong>$8/lb<br><strong>Produce Review: </strong> 10/10 would RECOMMEND. These are the sweetest mangos around!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://i.imgur.com/WFYwFeB.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Potatoes</h4>
            <p class="card-text"><strong>Seller: </strong>Various farmers<br><strong>Quantity:</strong>12<br><strong>Price:</strong>$10/lb<br><strong>Produce Review: </strong> These pineapples top any organic pineapple I've ever gotten! The only complaint I have is there's not enough available! Please increase your stock!!!! </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Purchase</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="py-5 footer-bg custom-footer">
    <div class="container footer">
      <p class="m-0 text-center text-white copyright">Copyright &copy; CropMart 2021</p>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript -->
  <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>